.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height of the container to the viewport height */
}

.card {
    width: 350px;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.formGroup {
    margin-bottom: 16px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
}